* , :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;

}

:root {
    --color--text: #000d3a;
    --color--primary: rgba(81, 155, 221, 0.62);
    --color--primary--dark: #093159;
}

body{
    font-size: 1.6rem;
    background-color: #e3e3e3;
    font-family: 'Montserrat', sans-serif;
}

input, textarea{
    outline: none;
    border: none;
    background: none;
}

button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--color--text);
}

li,ul{
    list-style: none;

}

a.hover{
    color: var(--color--primary--dark) ;
}

h1{
    color: var(--color--text);
    font-size: 4rem;
}

h2{
    color: var(--color--text);
    font-size: 3.5rem;
}

h3{
    color: var(--color--text);
    font-size: 2.5rem;
}